<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>-10009001</key>
	<string>缺少参数验证码</string>
	<key>-10009002</key>
	<string>验证码超时</string>
	<key>-10009003</key>
	<string>验证码错误</string>
	<key>-20003001</key>
	<string>缺少参数验证码</string>
	<key>-20003002</key>
	<string>缺少参数密码或确认密码</string>
	<key>-20003003</key>
	<string>缺少参数验证码</string>
	<key>-20003004</key>
	<string>验证码超时</string>
	<key>-20003005</key>
	<string>验证码错误</string>
	<key>-20003006</key>
	<string>两次密码不一致</string>
	<key>-20003007</key>
	<string>手机号不存在</string>
	<key>-10001001</key>
	<string>手机号码输入错误</string>
	<key>-10001005</key>
	<string>数据是空的</string>
	<key>-10003001</key>
	<string>缺少参数手机号或原密码</string>
	<key>-10003002</key>
	<string>缺少参数新密码或确认密码</string>
	<key>-10003003</key>
	<string>两次密码不一致</string>
	<key>-10003004</key>
	<string>原密码不正确</string>
	<key>-10004001</key>
	<string>发布者ID错误</string>
	<key>-10004002</key>
	<string>请选择所属商圈</string>
	<key>-10004003</key>
	<string>请填写信息类型</string>
	<key>-10004004</key>
	<string>请填写消息内容</string>
	<key>-10004005</key>
	<string>请填写手机号码</string>
	<key>-10004006</key>
	<string>发布位置错误</string>
	<key>-10006001</key>
	<string>用户手机号或验证类型错误</string>
	<key>-10006002</key>
	<string>不要重复发送</string>
	<key>-10007001</key>
	<string>缺少参数message_id</string>
	<key>-10007002</key>
	<string>缺少参数images</string>
	<key>-10007003</key>
	<string>没找到对应的消息</string>
	<key>-10008001</key>
	<string>缺少参数user_account</string>
	<key>-10008002</key>
	<string>缺少参数user_phone</string>
	<key>-10008003</key>
	<string>缺少参数user_weixin</string>
	<key>-10008004</key>
	<string>缺少参数user_qq</string>
	<key>-10008005</key>
	<string>缺少参数user_id</string>
	<key>-10008006</key>
	<string>没发现这个用户</string>
	<key>-20001001</key>
	<string>手机、密码、微信参数错误</string>
	<key>-20001002</key>
	<string>验证码超时</string>
	<key>-20001003</key>
	<string>验证码错误</string>
	<key>-20001004</key>
	<string>账号已存在</string>
	<key>-20001005</key>
	<string>用户密码长度6-11</string>
	<key>-20002001</key>
	<string>账户长度(3-11)错误</string>
	<key>-20002002</key>
	<string>密码长度(6-11)错误</string>
	<key>-20002003</key>
	<string>用户名或密码参数错误</string>
	<key>-20002004</key>
	<string>用户或密码错误</string>
	<key>-20002005</key>
	<string>用户未审核</string>
	<key>-30001001</key>
	<string>当前页码错误</string>
	<key>-30001002</key>
	<string>每页数量错误</string>
	<key>-30001003</key>
	<string>信息状态错误</string>
	<key>-30001004</key>
	<string>广告类型id错误</string>
	<key>-30002001</key>
	<string>消息参数错误</string>
	<key>-30002002</key>
	<string>类型参数错误</string>
	<key>-30002003</key>
	<string>标签参数错误</string>
	<key>-30002004</key>
	<string>图片参数错误</string>
	<key>-30002005</key>
	<string>内容参数错误</string>
	<key>-30002006</key>
	<string>图片链接参数错误</string>
	<key>-30002007</key>
	<string>开始时间参数错误</string>
	<key>-30002008</key>
	<string>结束时间参数错误</string>
	<key>-30002009</key>
	<string>广告状态参数错误</string>
	<key>-40001001</key>
	<string>每页数量错误</string>
	<key>-40001002</key>
	<string>当前页码错误</string>
	<key>-40001003</key>
	<string>信息状态错误</string>
	<key>-40001004</key>
	<string>类型类型ID错误</string>
	<key>-40002001</key>
	<string>评论的消息ID不能为空</string>
	<key>-40002002</key>
	<string>评论的内容不能为空</string>
	<key>-40002003</key>
	<string>评论用户ID不存在</string>
	<key>-40002004</key>
	<string>请输入评论用户手机号</string>
	<key>-60001001</key>
	<string>信息ID错误</string>
	<key>-60002001</key>
	<string>信息ID错误</string>
	<key>-60002002</key>
	<string>用户ID错误</string>
	<key>-60002003</key>
	<string>该用户已经点过赞了</string>
	<key>1</key>
	<string>成功</string>
</dict>
</plist>
