<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>picture</key>
		<array>
			<string>广告页2</string>
			<string>广告页3</string>
		</array>
		<key>description1</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
		<key>address</key>
		<string>[浙江省嘉兴市南湖区兴旺路]</string>
		<key>time</key>
		<string>一天前</string>
		<key>sort</key>
		<string>【找货】</string>
	</dict>
	<dict>
		<key>picture</key>
		<array>
			<string>广告页3</string>
		</array>
		<key>description1</key>
		<string>奥利奥原味</string>
		<key>address</key>
		<string>[浙江省嘉兴市南湖区兴旺路]</string>
		<key>sort</key>
		<string>【其他需求】</string>
		<key>time</key>
		<string>两天前</string>
	</dict>
	<dict>
		<key>picture</key>
		<array>
			<string>00</string>
			<string>01</string>
			<string>02</string>
			<string>广告页2</string>
		</array>
		<key>description1</key>
		<string>历经磨难，青蛙王子终于跳上餐桌，希望公主能给他一个吻。公主一见到他，满心欢喜，吧唧着嘴说：「哇塞，好肥的田鸡啊！」</string>
		<key>sort</key>
		<string>【承接横机加工】</string>
		<key>address</key>
		<string>[浙江省嘉兴市南湖区兴旺路]</string>
		<key>time</key>
		<string>三天前</string>
	</dict>
	<dict>
		<key>picture</key>
		<array>
			<string>00</string>
			<string>01</string>
			<string>02</string>
			<string>广告页3</string>
			<string>00</string>
			<string>01</string>
			<string>02</string>
			<string>广告页2</string>
			<string>广告页3</string>
		</array>
		<key>description1</key>
		<string>号外号外:大师兄下凡不慎，被数人围观</string>
		<key>address</key>
		<string>[浙江省嘉兴市南湖区兴旺路]</string>
		<key>sort</key>
		<string>【求租】</string>
		<key>time</key>
		<string>三小时前</string>
	</dict>
	<dict>
		<key>picture</key>
		<array/>
		<key>address</key>
		<string>[浙江省嘉兴市南湖区兴旺路]</string>
		<key>description1</key>
		<string>可以不写标题吗</string>
		<key>time</key>
		<string>三小时前</string>
		<key>sort</key>
		<string>【求租】</string>
	</dict>
	<dict>
		<key>picture</key>
		<array/>
		<key>description1</key>
		<string>去买祭品，居然看到有纸糊的苹果手机。就问:啊哈，这里还有苹果5S啊？老祖宗会用吗？老板白了我一眼说:乔布斯都亲自下去教了，你还操什么心。我买了一个刚转身要走，老板提醒:再买个手机套吧！下面蛮潮湿的。我说好，接着老板又说再买个蓝牙耳机吧，最近下面出了新交规，开车接电话查的严。我又买个蓝牙耳机，老板继续善意提醒:最重要的还要买充电器啊！回头你祖宗找你要就不好了，光找你要是小事，让你送过去就麻烦了。我又买个充电器，然后和老板要名片。老板问:要我名片干嘛？我说烧给祖宗啊！万一出了质量问题我好让我祖宗来找你。</string>
		<key>address</key>
		<string>[浙江省嘉兴市南湖区兴旺路]</string>
		<key>time</key>
		<string>两周前</string>
		<key>sort</key>
		<string>【找工作】</string>
	</dict>
	<dict>
		<key>picture</key>
		<array/>
		<key>description1</key>
		<string>妖怪，吃俺老孙一棒！</string>
		<key>address</key>
		<string>[浙江省嘉兴市南湖区兴旺路]</string>
		<key>time</key>
		<string>两周前</string>
		<key>sort</key>
		<string>【找工作】</string>
	</dict>
	<dict>
		<key>picture</key>
		<array/>
		<key>description1</key>
		<string>怎么办啊，，，谁会修手机，我下载了个滑动解锁软件，解不开锁，，，我手机不是触屏的啊。。。。。</string>
		<key>address</key>
		<string>[浙江省嘉兴市南湖区兴旺路]</string>
		<key>time</key>
		<string>两周前</string>
		<key>sort</key>
		<string>【找工作】</string>
	</dict>
	<dict>
		<key>picture</key>
		<array/>
		<key>description1</key>
		<string>完全豁出去的广告</string>
		<key>address</key>
		<string>[浙江省嘉兴市南湖区兴旺路]</string>
		<key>time</key>
		<string>两周前</string>
		<key>sort</key>
		<string>【找工作】</string>
	</dict>
	<dict>
		<key>picture</key>
		<array/>
		<key>description1</key>
		<string>去买祭品，居然看到有纸糊的苹果手机。就问:啊哈，这里还有苹果5S啊？老祖宗会用吗？老板白了我一眼说:乔布斯都亲自下去教了，你还操什么心。我买了一个刚转身要走，老板提醒:再买个手机套吧！下面蛮潮湿的。我说好，接着老板又说再买个蓝牙耳机吧，最近下面出了新交规，开车接电话查的严。我又买个蓝牙耳机，老板继续善意提醒:最重要的还要买充电器啊！回头你祖宗找你要就不好了，光找你要是小事，让你送过去就麻烦了。我又买个充电器，然后和老板要名片。老板问:要我名片干嘛？我说烧给祖宗啊！万一出了质量问题我好让我祖宗来找你。</string>
		<key>address</key>
		<string>[浙江省嘉兴市南湖区兴旺路]</string>
		<key>time</key>
		<string>两周前</string>
		<key>sort</key>
		<string>【找工作】</string>
	</dict>
</array>
</plist>
